{
    "presets": ["env", "react", "stage-2"],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-es2015-classes",
        [ "transform-runtime",{ "polyfill": true, "regenerator": true } ],
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    ]
}