* {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html,body {
    margin: 0;
    padding: 0;
    background: none;
    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    color: #fff;
    overflow-y: hidden;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

label {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#root {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.ant-input:hover {
    border-color: #57a8e9;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(87,168,233, .2);
    box-shadow: 0 0 0 0 rgba(87,168,233, .2);
}

.ant-spin-nested-loading {
    width: 100%;
    height: 100%;
}

.ant-spin-container {
    width: 100%;
    height: 100%;
}

.ant-menu-item {
    background: #FDFDFD;
}

.ant-table-pagination.ant-pagination {
    float: left !important;
}